@use 'utils' as *;

.team {
  img {
    display: block;
    margin: 0 auto 8px;
  }

  p {
    text-align: center;
    font-size: $text-18;
  }
}

@include mq(tablet) {
  .team {
    p {
      font-size: $text-14;
    }
  }
}

@include mq(lgMobile) {
  .team {
    p {
      font-size: $text-18;
    }
  }
}

@include mq(smMobile) {
  .team {
    p {
      font-size: $text-14;
    }
  }
}
