@use 'utils' as *;

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
  min-height: calc(100vh - 180px);
  place-content: start;

  @include mq(tablet) {
    gap: 28px;
  }
  @include mq(lgMobile) {
    grid-template-columns: 1fr;
  }
}

.loader {
  width: 100%;
  height: calc(100vh - 180px);
}

.schedulePrompt {
  @include flexbox($justify: center, $align: center);
  width: 100%;
  height: calc(100vh - 180px);
  font-size: $text-20;
}
