@use 'utils' as *;
.todayGameContainer {
  margin: 20px 0 20px auto;
  @include flexbox($direction: row-reverse, $gap: 16px);
}

.todayGame {
  flex-shrink: 0;
  width: 182px;
  height: 90px;
  background-color: $color-gray-800;
  border-radius: $border-radius-8;
}

.container {
  width: 100%;
  @include flexbox($justify: space-between, $gap: 16px);
}

.mainInfo {
  @include flexbox($direction: column, $gap: 16px);
  width: 100%;
  height: calc(100vh - 221px);
}

.gameStatus {
  width: 100%;
  min-height: 136px;
  background-color: $color-gray-800;
  border-radius: $border-radius-8;
}

.gamePageMain {
  width: 100%;
  height: calc(100% - 152px);
  background-color: $color-gray-800;
  border-radius: $border-radius-8;
}

.chat {
  min-width: 364px;
  height: auto;
  background-color: $color-gray-800;
  border-radius: $border-radius-8;
}

@include mq(tablet) {
  .todayGameContainer {
    @include flexbox($justify: center);
    overflow: hidden;
  }

  .chat {
    display: none;
  }
}

@media (max-width: 1006px) {
  .todayGameContainer {
    @include flexbox($justify: start);
  }
}
