@use 'utils' as *;
.navContainer {
  @include flexbox($gap: 28px);

  margin-bottom: 40px;
}

.link {
  all: unset;
  cursor: pointer;

  position: relative;
  padding: 8px 4px;

  font-size: $text-18;

  &:focus-visible {
    outline: auto;
  }
}

.active {
  border-bottom: 2px solid $color-white;
}
