@use 'utils' as *;

.container {
  width: 364px;
}

.chatTitle {
  width: 100%;

  padding: 12px;
  background-color: $color-gray-800;

  border-bottom: 1px solid $color-border;
  border-top-left-radius: $border-radius-8;
  border-top-right-radius: $border-radius-8;
}

.chatContainer {
  height: calc(100vh - 320px);

  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  background-color: $color-gray-800;
  @include flexbox($direction: column-reverse);
}

.chatInputContainer {
  padding: 16px 12px;

  background-color: $color-gray-800;
  border-bottom-left-radius: $border-radius-8;
  border-bottom-right-radius: $border-radius-8;

  @include flexbox($justify: space-between);

  textarea {
    all: unset;
    width: 270px;
    max-height: 72px; /* 최대 3줄 높이 */
    font-size: $text-14;
    font-family: 'Pretendard';
    color: $color-white;
    resize: none;
    background: transparent;
    overflow-y: auto;
    line-height: 24px;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(190, 190, 190, 0.2) transparent;

    /* Chrome, Edge */
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(190, 190, 190, 0.2);
      border-radius: 5px;
    }
  }
}
.iconArrowUp {
  width: 22px;
  height: 22px;

  padding: 5px;

  border-radius: $border-radius-circle;
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-hover;
    cursor: pointer;
    transform: scale(0.95);
  }

  &:disabled {
    background-color: $color-gray-600;
    cursor: not-allowed;
    transform: scale(1);
  }

  @include flexbox($justify: center, $align: center);
}
