@use '../utils' as *;
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css');

// 가로 최대크기
$viewport-max-width: $width-desktop-large;
// 배경색
$background-color: $color-bg;
// 폰트
$base-font-family: 'Pretendard Variable', sans-serif;
$font-color: $color-white;

body {
  font-family: $base-font-family;
  line-height: normal;
  margin: 0 auto;
  max-width: $viewport-max-width;
  background-color: $background-color;
  color: $font-color;
}

input,
textarea,
select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  font-family: $base-font-family;
  color: $font-color;
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}
:focus {
  outline: 0;
}
:focus-visible {
  outline: 2.5px solid $color-gray-200;
  outline-offset: 0.5px;
  border-radius: 2px;
}

/* 숨김 콘텐츠 */
.srOnly {
  @include srOnly;
}
