@use 'utils' as *;

.overlay {
  background-color: rgba($color-gray-700, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;

  pointer-events: auto;
}

.dialog {
  @include flexbox($direction: column, $gap: 1.75rem, $align: center);
  position: absolute;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
  background-color: $color-gray-900;
  outline: none;
  border-radius: $border-radius-8;
  justify-content: center;
  align-items: center;
  padding-block: 0.75rem;
  width: 100%;
  max-width: 440px;
  text-align: center;
}

.buttonWrapper {
  width: 100%;
  max-width: 19.5rem;
  @include flexbox($gap: 2rem);

  > button {
    flex-grow: 1;
    height: 3rem;
    border-radius: $border-radius-8;

    &.closeBtn {
      border: 1px solid $color-white;
      &:hover {
        background-color: $color-gray-600;
      }
    }
    &.confirmBtn {
      background-color: $color-primary;
      &:hover {
        background-color: $color-primary-hover;
      }
    }
  }
}
