@use 'utils' as *;

.tag {
  display: inline-block;
  border-radius: $border-radius-4;
  white-space: pre;
  text-align: center;
}

.sm {
  padding: 2px 8px;
  font-size: $text-12;
}

.lg {
  width: 40px;
  padding: 6px 0px;
  font-size: $text-14;

  @include mq(tablet) {
    width: 32px;
    font-size: $text-12;
  }
  @include mq(lgMobile) {
    width: 40px;
    font-size: $text-14;
  }
  @include mq(smMobile) {
    width: 32px;
    font-size: $text-12;
  }
}

.live {
  background-color: $color-live;
}

.final {
  background-color: $color-end;
}

.scheduled {
  background-color: $color-gray-600;
}
